Flask==3.0.3
flask-cors==4.0.1
requests==2.32.3
requests-toolbelt==1.0.0

numpy==1.26.4
scipy==1.11.4
Pillow==10.4.0
opencv-python-headless==4.9.0.80

tensorflow==2.15.1

torch==2.2.2
torchvision==0.17.2
segmentation-models-pytorch==0.3.3
timm==0.9.2
